Thumbs.db
ehthumbs.db
Desktop.ini

# Python
*.pyc
*.pyo
*.pyd
__pycache__/

*.sqlite3
local_settings.py

.venv/
venv/
*.log

staticfiles/
media/


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


*.py[cod]
*$py.class


.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/


.ipynb_checkpoints


.mypy_cache/
.dmypy.json
dmypy.json