.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: solid 1px;
    width: 100%;
    /* top: 0;
    z-index: 1000; */
}

.logo {
    font-size: 2rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap:20px;
}
.navbar-link,
.navbar-text {
    margin: 0 15px;
    font-size: 1.5rem;
    text-decoration: none;
}


.navbar-link:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    cursor: pointer;
}