<div class="page">
    <div class="user-info">
      <h1>User info</h1>
      <p>{{ profile.username }}</p>
      <p>{{ profile.email }}</p>
      <p>{{ profile.first_name }}</p>
      <p>{{ profile.last_name }}</p>
    </div>
  
    <div class="user-reservations">
      <h1>User's Reservations</h1>
      <ul>
        <li *ngFor="let reservation of reservations">
          <p>Reservation ID: {{ reservation.id }}</p>
          <p>Date: {{ reservation.date }}</p>
          <p>Start Time: {{ reservation.start_time }}</p>
          <p>End Time: {{ reservation.end_time }}</p>
          <p>Max Participants: {{ reservation.max_participants }}</p>
        </li>
      </ul>
    </div>
  </div>